#landing {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

#darkOverlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  margin: auto;
}

#signInLabel {
  float: left;
}

.jumbotron {
  width: fit-content;
  align-self: center;
}

.cardInput {
  background: none !important;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  color: #ccc;
  padding: 1rem auto;
  margin: 1rem auto;
  letter-spacing: 2.2px;
}

.cardInput::placeholder {
  color: #ccc;
}

.cardInputPassword {
  margin-right: 0;
  margin-left: 0;
}

.passwordInputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.signUpCardForm {
  padding: 5px 0;
  font-size: 16px;
}

.signUpCardImg {
  width: 100%;
}

.gradientBackground {
  background: hsla(16, 83%, 55%, 1);

  background: linear-gradient(225deg,
      hsla(16, 83%, 55%, 1) 0%,
      hsla(49, 87%, 61%, 1) 100%);

  background: -moz-linear-gradient(225deg,
      hsla(16, 83%, 55%, 1) 0%,
      hsla(49, 87%, 61%, 1) 100%);

  background: -webkit-linear-gradient(225deg,
      hsla(16, 83%, 55%, 1) 0%,
      hsla(49, 87%, 61%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ec5e2c", endColorstr="#f2d244", GradientType=1);
}

.cardOverviewContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.25rem;
  row-gap: 2rem;
  width: 100%;
  max-width: min(1200px, 85vw);
  margin: 60px auto;
}

.overviewCard {
  background-color: #000;
  width: 100%;
  max-width: 100%;
  display: block;
  overflow: hidden;
}

.overCardLowerBit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 1fr) */
}

.cardButton {
  margin: 15px 15px;
  padding: 8px 14px;
  background: rgba(155, 155, 155, 0.2);
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  outline: 0;
  font-weight: 300;
}

.cardButton:hover {
  margin: 15px 15px;
  padding: 8px 14px;
  background: rgba(155, 155, 155, 0.2);
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  outline: 0;
  font-weight: 300;
  opacity: 0.8;
}

.cardContent {
  border: 1px solid #fff;
  padding: 30px;
  margin: 20px;
}

/* Equivalent to bootstraps d-lg */
@media (min-width: 992px) {
  .btnContainer {
    justify-content: center;
    margin-top: 3rem;
  }

  .btnContainer button {
    margin: auto 3rem;
    width: 12rem;
  }
}

@media (min-width: 768px) {
  .navbarUL {
    flex-direction: row;
    margin-left: auto;
    width: 100vw;
    left: 0;
    position: absolute;
    justify-content: center;
  }

  .brandOnLarge {
    align-self: flex-start;
    float: left;
    margin-left: 2rem;
  }

  .signUpWrapper {
    max-width: 780px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 100px;
  }

  .signUpCard {
    display: table;
    background: #000;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  .signUpCardImg {
    display: table-cell;
    width: 50%;
    background-position: center center;
    background-size: cover;
  }

  .cardFormContainer {
    display: table-cell;
    width: 50%;
    padding: 65px 57px;
  }

  .signUpCardForm {
    width: 100%;
  }
}

/* Equivalent to bootstraps md and down */
@media (max-width: 992px) {
  .btnContainer {
    display: flex;
    justify-content: space-around;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 3rem;
  }

  .btnContainer button {
    margin: auto 0.8rem;
    width: 10rem;
  }

  .cardOverviewContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.25rem;
    row-gap: 2rem;
    width: 100%;
    max-width: min(1200px, 85vw);
    margin: 60px auto;
  }
}

@media (max-width: 768px) {
  .btnContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 0;
  }

  .btnContainer button {
    margin: 0.8rem auto;
    width: 10rem;
  }

  .brandOnLarge {
    display: none;
  }

  .signUpWrapper {
    max-width: 780px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 100px;
  }

  .signUpCard {
    display: block;
    background: #000;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  .signUpCardImg {
    display: block;
    width: 100%;
    padding-top: 300px;
    background-position: center center;
    background-size: cover;
  }

  .signUpWrapper {
    max-width: 780px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 100px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .signUpCard {
    display: block;
    background: #000;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  .cardFormContainer {
    display: block;
    width: 100%;
    padding: 36px 30px;
    padding-bottom: 60px;
  }

  .cardInputPassword {
    max-width: 20rem;
  }

  .cardOverviewContainer {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1.25rem;
    row-gap: 2rem;
    width: 100%;
    max-width: min(1200px, 85vw);
    margin: 60px auto;
  }
}